<mat-nav-list class="sidenav-list">
        <a mat-list-item routerLink="/signin" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Singin</span>
        </a>
        <a mat-list-item routerLink="/accomodation" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Accomodation</span>
        </a>
        <a mat-list-item routerLink="/offers" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Offers</span>
        </a>
        <a mat-list-item routerLink="/livestyle" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Livestyle</span>
        </a>
        <a mat-list-item routerLink="/food-and-baverage" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Food and beverage</span>
        </a>
        <a mat-list-item routerLink="/wedding" (click)="toogleClose()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Wedding</span>
        </a>
</mat-nav-list>


